body {
    background-color: #ffb88a;
}

#odin {
    display: flex;
    justify-content: center;  
}

#first {
    display: flex;
    justify-content: center;
    background-color: brown;
    width: 50vw;
    border-radius: 10%;
    font-size: xxx-large;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10vh;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
    background-color: brown;
    border-radius: 10%;
    margin: 8vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: .5%;
    padding-bottom: .5%;
}

